<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<!--  <customErrors defaultRedirect="404.aspx" mode="On">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors> -->
		<sessionState timeout="1440"></sessionState>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" cookieless="AutoDetect">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<compilation debug="true">
			</compilation></system.web>
	<location path="font">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="StyleSheet.css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<connectionStrings>
		<add name="connection" connectionString="data source=DESKTOP-IHDR2FK\GEEK;database=EFF_2016;integrated security = true" providerName="SqlClient"/>
		<add name="EFF_2016ConnectionString" connectionString="Data Source=DESKTOP-IHDR2FK\GEEK;Initial Catalog=EFF_2016;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
